<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-6">
                <form method="post" action="/photo">
                    <label>Animal</label>
                    <input name="type" class="form-control"><br>
                    <label>Number</label>
                    <input name="num" class="form-control"><br>
                    <input type="submit" class="btn btn-success"></form> 
            </div>
        </div>
    </div>
</body>
</html>